@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

:root {
  font-family: Roboto, Inter, Avenir, Helvetica, Arial, sans-serif;
}

.social-icon-wrapper {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 50%;
  opacity: 50%;
  display: flex;
  align-items: center;
}
